In [1]:
import os
import numpy as np
import pandas as pd

In [8]:
person = pd.read_csv('../Details/dataset/train_person_1.csv')
print(person.shape)
person.head()

d:\Programs\Python\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2973991, 37)

,case_id,birth_259D,birthdate_87D,childnum_185L,contaddr_district_15M,contaddr_matchlist_1032L,contaddr_smempladdr_334L,contaddr_zipcode_807M,education_927M,empl_employedfrom_271D,...,registaddr_district_1083M,registaddr_zipcode_184M,relationshiptoclient_415T,relationshiptoclient_642T,remitter_829L,role_1084L,role_993L,safeguarantyflag_411L,sex_738L,type_25L
0,0,1986-07-01,NaN,NaN,P88_18_84,False,False,P167_100_165,P97_36_170,2017-09-15,...,P88_18_84,P167_100_165,NaN,NaN,NaN,CL,NaN,True,F,PRIMARY_MOBILE
1,0,NaN,NaN,NaN,a55475b1,NaN,NaN,a55475b1,a55475b1,NaN,...,a55475b1,a55475b1,SPOUSE,NaN,False,EM,NaN,NaN,NaN,PHONE
2,0,NaN,NaN,NaN,a55475b1,NaN,NaN,a55475b1,a55475b1,NaN,...,a55475b1,a55475b1,COLLEAGUE,SPOUSE,False,PE,NaN,NaN,NaN,PHONE
3,0,NaN,NaN,NaN,a55475b1,NaN,NaN,a55475b1,a55475b1,NaN,...,a55475b1,a55475b1,NaN,COLLEAGUE,NaN,PE,NaN,NaN,NaN,PHONE
4,1,1957-08-01,NaN,NaN,P103_93_94,False,False,P176_37_166,P97_36_170,2008-10-29,...,P103_93_94,P176_37_166,NaN,NaN,NaN,CL,NaN,True,M,PRIMARY_MOBILE

In [11]:
person.columns

Index(['case_id', 'birth_259D', 'birthdate_87D', 'childnum_185L',
       'contaddr_district_15M', 'contaddr_matchlist_1032L',
       'contaddr_smempladdr_334L', 'contaddr_zipcode_807M', 'education_927M',
       'empl_employedfrom_271D', 'empl_employedtotal_800L',
       'empl_industry_691L', 'empladdr_district_926M', 'empladdr_zipcode_114M',
       'familystate_447L', 'gender_992L', 'housetype_905L', 'housingtype_772L',
       'incometype_1044T', 'isreference_387L', 'language1_981M',
       'mainoccupationinc_384A', 'maritalst_703L', 'num_group1',
       'personindex_1023L', 'persontype_1072L', 'persontype_792L',
       'registaddr_district_1083M', 'registaddr_zipcode_184M',
       'relationshiptoclient_415T', 'relationshiptoclient_642T',
       'remitter_829L', 'role_1084L', 'role_993L', 'safeguarantyflag_411L',
       'sex_738L', 'type_25L'],
      dtype='object')

In [ ]:
feat_def = pd.read_csv()

In [ ]:
applprev = pd.read_csv('../Details/dataset/train_base.csv')
print(person.shape)
person.head()